.vs/JurBanksFeatures/v16/Server/sqlite3/db.lock
.vs/JurBanksFeatures/v16/Server/sqlite3/storage.ide
.vs/JurBanksFeatures/v16/Server/sqlite3/storage.ide-wal
.vs/JurBanksFeatures/v16/Server/sqlite3/storage.ide-shm
